<div class="item-preview" fxLayout="row">
  <div *ngIf="(thumbnailUrl | async) && !expandView" fxFlex="125px">
    <img class="full" src="{{thumbnailUrl | async}}">
  </div>
  <div fxFlex class="item-preview-content">
    <div class="item-title">{{ stuff.name }}</div>
    <!-- star rating field -->
    <app-star-rating-field *ngIf="stuff.rating" [rating]="stuff.rating" [readonly]="true"></app-star-rating-field>
  </div>
  <div fxFlex="nogrow" class="item-preview-action">
    <mat-icon class="icon" (click)="onToggleExpandView()">{{getExpandIconName()}}</mat-icon>
  </div>
</div>

<div class="item-edit-container" *ngIf="expandView" @expandAnimation>

  <app-souper-images-slider *ngIf="sliderImages.length > 0" [images]="sliderImages"></app-souper-images-slider>

  <form>
    <div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 10px;">
      <!-- history button -->
      <button fxFlex="50" mat-stroked-button color="primary" (click)="expandHistory = !expandHistory"><mat-icon>today</mat-icon> history</button>
      <!-- price field -->
      <button *ngIf="stuff.price" fxFlex="50" mat-stroked-button >{{stuff.price}} <mat-icon>euro_symbol</mat-icon></button>
    </div>

    <!-- history field -->
    <div class="history-container" *ngIf="expandHistory" @expandAnimation>
      <app-history-element [history]="stuff.history" (historyOutput)="onNewHistory($event)"></app-history-element>
    </div>

    <!-- note field -->
    <mat-form-field class="width-100" *ngIf="stuff.note">
      <textarea matInput matTextareaAutosize
                placeholder="note"
                name="note"
                [readonly]="true"
                [(ngModel)]="stuff.note"></textarea>
    </mat-form-field>
    <!-- tags field -->
    <app-select-tags-field [selectedTags$]="selectedTags$"
                           [showBasicTags]="false"
                           [addOnBlur]="true"
                           [readonly]="true">

    </app-select-tags-field>

    <!-- last updated field -->
    <mat-form-field *ngIf="stuff.lastUpdated" class="width-100">
      <mat-label>last time</mat-label>
      <input matInput
             name="lastUpdated"
             type="text"
             [readonly]="true"
             value="{{stuff.lastUpdated.toDate() | date:'dd/MM/yyyy'}}">
    </mat-form-field>

    <!-- adress fields -->
    <div>
      <mat-form-field *ngIf="stuff.publicStation" class="width-100">
        <mat-label>public station</mat-label>
        <input matInput
               name="publicStation"
               placeholder="public station"
               type="text"
               [readonly]="true"
               [(ngModel)]="stuff.publicStation">
      </mat-form-field>
      <mat-form-field *ngIf="stuff.street" class="width-100">
        <mat-label>street</mat-label>
        <input matInput
               name="street"
               placeholder="street"
               type="text"
               [readonly]="true"
               [(ngModel)]="stuff.street">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button type="button" mat-mini-fab (click)="onEdit()"><mat-icon>edit</mat-icon></button>
    </div>
  </form>
</div>

<mat-divider></mat-divider>
