<mat-list-item class="item-container">
  <div fxLayout="row" class="width-100">
    <div fxFlex="90">
      <div class="item-title">{{ stuff.name }}</div>
      <!-- star rating field -->
      <app-star-rating-field *ngIf="stuff.rating || editMode" [rating]="stuff.rating" (ratingUpdated)="onRatingsUpdated($event)"></app-star-rating-field>
    </div>
    <div fxFlex>
      <mat-icon class="icon" (click)="onToggleExpandView()">keyboard_arrow_down</mat-icon>
    </div>
  </div>

</mat-list-item>
<div class="item-edit-container" [@expandElementAnimation]="expandView ? 'open': 'closed'">
  <form>

    <div fxLayout="row" fxLayoutGap="10px">
      <!-- count field -->
      <mat-form-field *ngIf="stuff.count || editMode" class="width-50" appearance="outline">
        <mat-label>count</mat-label>
        <input matInput
               name="count"
               placeholder="count"
               type="number"
               [readonly]="!editMode"
               [(ngModel)]="stuff.count">
      </mat-form-field>
      <!-- price field -->
      <mat-form-field *ngIf="stuff.price || editMode" class="width-50" appearance="outline">
        <mat-label>price</mat-label>
        <input matInput
               name="price"
               placeholder="price"
               type="number"
               [readonly]="!editMode"
               [(ngModel)]="stuff.price">
        <mat-icon matSuffix>euro</mat-icon>
      </mat-form-field>
    </div>

    <!-- note field -->
    <mat-form-field *ngIf="stuff.note || editMode" class="width-100">
      <textarea matInput
                placeholder="note"
                name="note"
                [readonly]="!editMode"
                [(ngModel)]="stuff.note"></textarea>
    </mat-form-field>
    <!-- tags field -->
    <app-select-tags-field [selectedTags$]="selectedTags$"
                           [showBasicTags]="false"
                           [readonly]="!editMode">

    </app-select-tags-field>

    <!-- adress fields -->
    <div>
      <mat-form-field *ngIf="stuff.publicStation || editMode" class="width-100">
        <mat-label>public station</mat-label>
        <input matInput
               name="publicStation"
               placeholder="public station"
               type="text"
               [readonly]="!editMode"
               [(ngModel)]="stuff.publicStation">
      </mat-form-field>
      <mat-form-field *ngIf="stuff.street || editMode" class="width-100">
        <mat-label>street</mat-label>
        <input matInput
               name="street"
               placeholder="street"
               type="text"
               [readonly]="!editMode"
               [(ngModel)]="stuff.street">
      </mat-form-field>
    </div>

    <!-- last time updated field
  <div *ngIf="stuff.lastUpdated">
    last time: {{stuff.lastUpdated.toDate()}}
  </div>-->

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <!-- toggle edit mode button -->
      <mat-icon class="icon" (click)="onToggleEditMode()">edit</mat-icon>
      <!-- save stuff button -->
      <button *ngIf="editMode" mat-fab (click)="onSave()"><mat-icon>check</mat-icon></button>
    </div>
  </form>
</div>

<br>
<mat-divider></mat-divider>
