<div class="item-preview" fxLayout="row">
  <div *ngIf="(thumbnailUrl | async) && !expandView" fxFlex="125px">
    <img class="full" src="{{thumbnailUrl | async}}">
  </div>
  <div fxFlex class="item-preview-content">
    <div class="item-title">{{ stuff.name }}</div>
    <!-- star rating field -->
    <app-star-rating-field *ngIf="stuff.rating" [rating]="stuff.rating" [readonly]="true"></app-star-rating-field>
  </div>
  <div fxFlex="nogrow" class="item-preview-action">
    <mat-icon class="icon" (click)="onToggleExpandView()">{{getExpandIconName()}}</mat-icon>
  </div>
</div>

<div class="item-edit-container" *ngIf="expandView" @expandAnimation>

  <app-souper-images-slider *ngIf="sliderImages.length > 0" [images]="sliderImages"></app-souper-images-slider>

  <form>
    <div fxLayout="row" fxLayoutGap="10px">
      <!-- count field -->
      <mat-form-field *ngIf="stuff.count" class="width-50" appearance="outline">
        <mat-label>count</mat-label>
        <input matInput
               name="count"
               placeholder="count"
               type="number"
               [readonly]="true"
               [(ngModel)]="stuff.count">
      </mat-form-field>
      <!-- price field -->
      <mat-form-field *ngIf="stuff.price" class="width-50" appearance="outline">
        <mat-label>price</mat-label>
        <input matInput
               name="price"
               placeholder="price"
               type="text"
               [readonly]="true"
               [(ngModel)]="stuff.price">
        <mat-icon matSuffix>euro</mat-icon>
      </mat-form-field>
    </div>

    <!-- note field -->
    <mat-form-field class="width-100" *ngIf="stuff.note">
      <textarea matInput matTextareaAutosize
                placeholder="note"
                name="note"
                [readonly]="true"
                [(ngModel)]="stuff.note"></textarea>
    </mat-form-field>
    <!-- tags field -->
    <app-select-tags-field [selectedTags$]="selectedTags$"
                           [showBasicTags]="false"
                           [addOnBlur]="true"
                           [readonly]="true">

    </app-select-tags-field>

    <!-- adress fields -->
    <div>
      <mat-form-field *ngIf="stuff.publicStation" class="width-100">
        <mat-label>public station</mat-label>
        <input matInput
               name="publicStation"
               placeholder="public station"
               type="text"
               [readonly]="true"
               [(ngModel)]="stuff.publicStation">
      </mat-form-field>
      <mat-form-field *ngIf="stuff.street" class="width-100">
        <mat-label>street</mat-label>
        <input matInput
               name="street"
               placeholder="street"
               type="text"
               [readonly]="true"
               [(ngModel)]="stuff.street">
      </mat-form-field>
    </div>

    <!-- last time updated field
  <div *ngIf="stuff.lastUpdated">
    last time: {{stuff.lastUpdated.toDate()}}
  </div>-->

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button  mat-mini-fab (click)="onEdit()"><mat-icon>edit</mat-icon></button>
    </div>
  </form>
</div>

<mat-divider></mat-divider>
