.souper-pages-container {
  padding: 2.5%;
}

.souper-icon {
  border-radius: 34%;
  height: 50%;
  border: 2px solid white;
}

.avatar {
  border-radius: 50%;
  height: 80%;
}

.app-title {
  margin-left: 0.5em;
}
