<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span fxFlex class="app-title">{{this.currNav.title | uppercase}}</span>
  <img *ngIf="user | async as user"
       class="avatar"
       src="{{user.photoURL}}"
       alt="avatar"
       [matMenuTriggerFor]="usermenu">
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onNavigate(this.nav[0].url)">
    <img class="souper-icon mat-icon" src="{{randomIcon}}">
    <span>{{this.nav[0].title}}</span>
  </button>
  <button mat-menu-item (click)="onNavigate(this.nav[1].url)">
    <mat-icon>event</mat-icon>
    <span>{{this.nav[1].title}}</span>
  </button>
</mat-menu>

<mat-menu #usermenu="matMenu">
  <button mat-menu-item (click)="onSignOut()">
    <span>Sign Out</span>
  </button>
</mat-menu>


<div class="souper-pages-container">
  <router-outlet></router-outlet>
</div>
