<mat-chip-list *ngIf="showBasicTags">
  <mat-chip *ngFor="let basicTag of basicTags"
            color="accent"
            selected
            (click)="onSelectBasicTag(basicTag)">{{basicTag}}</mat-chip>
</mat-chip-list>
<br *ngIf="showBasicTags">
<mat-form-field class="width-100" appearance="outline">
  <mat-label>tags</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of selectedTags$ | async" (removed)="onRemoveTag(tag)">
      {{tag}}
      <mat-icon *ngIf="!readonly" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <!-- matChipInputAddOnBlur = false causes mobile so switch input fields instead of confirm seperatorKeyCodes (codes are different)-->
    <input #tagInput
           matInput
           placeholder="{{placeholderText}}"
           [readonly]="readonly"
           [formControl]="tagInputControl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputAddOnBlur]="addOnBlur"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="addNewTag($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectTag($event)">
    <mat-option *ngFor="let filteredTag of filteredTags$ | async" [value]="filteredTag">
      {{filteredTag}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
