<form #stuffForm="ngForm">

  <mat-form-field class="width-100">
    <input matInput
           placeholder="name"
           type="text"
           name="name"
           [(ngModel)]="stuff.name"
           required>
  </mat-form-field>

  <app-souper-images-slider-editor [images]="sliderImages"
                                   (imagesToUpload)="onSliderEditorOutput($event)"
                                   (imageToRemove)="onSliderEditorRemove($event)"
                                   (imagesToSort)="onSliderEditorSort($event)"></app-souper-images-slider-editor>
  <!-- tags field -->
  <app-select-tags-field [selectedTags$]="selectedTags$"
                         [addOnBlur]="true"
                         [placeholderText]="'enter some tags or choose basic tags from above'">
  </app-select-tags-field>

  <mat-form-field class="width-100" appearance="outline">
    <mat-label>price</mat-label>
    <input matInput
           placeholder="price"
           type="text"
           name="price"
           [(ngModel)]="stuff.price">
    <mat-icon matSuffix>euro</mat-icon>
  </mat-form-field>

  <!-- star rating field -->
  <span class="label">rating </span><app-star-rating-field [rating]="stuff.rating" (ratingUpdated)="onRatingsUpdated($event)"></app-star-rating-field>

  <mat-form-field class="width-100">
    <textarea matInput
              name="note"
              placeholder="note"
              [(ngModel)]="stuff.note"></textarea>
  </mat-form-field>

  <!-- adress fields -->
  <div>
    adress
    <div>
      <mat-form-field class="width-100">
        <mat-label>public station</mat-label>
        <input matInput
               placeholder="public station"
               type="text"
               name="publicStation"
               [(ngModel)]="stuff.publicStation">
      </mat-form-field>
      <mat-form-field class="width-100">
        <mat-label>street</mat-label>
        <input matInput
               placeholder="street"
               type="text"
               name="street"
               [(ngModel)]="stuff.street">
      </mat-form-field>
    </div>

  </div>

  <button mat-flat-button color="primary"
          [disabled]="stuffForm.invalid"
          (click)="onSubmit()">{{getButtonName()}}</button>

  <div *ngIf="uploadImgMsg">Uploading {{uploadImgMsg}} images...</div>
  <div *ngIf="percentage | async as p">
    <progress [value]="p" max="100" class="width-100"></progress>
  </div>
</form>
