<form [formGroup]="formGroup">
  <mat-form-field class="width-100">
    <input matInput placeholder="name" type="text" formControlName="name" required>
  </mat-form-field>

  <app-select-tags-field [selectedTags$]="selectedTags$"></app-select-tags-field>

  <mat-form-field class="width-100" appearance="outline">
    <mat-label>price</mat-label>
    <input matInput placeholder="price" type="number" formControlName="price">
    <mat-icon matSuffix>euro</mat-icon>
  </mat-form-field>

  <mat-form-field class="width-100">
    <textarea matInput placeholder="note" formControlName="note"></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary"
          [disabled]="!formGroup.valid"
          (click)="onSubmit()">Create</button>
</form>
