<form [formGroup]="formGroup">
  <mat-form-field class="width-100">
    <input matInput placeholder="name" type="text" formControlName="name" required>
  </mat-form-field>

  <app-images-field [existingFiles]="images" (fileUploaded)="onFileUploaded($event)"></app-images-field>

  <app-select-tags-field [selectedTags$]="selectedTags$" [placeholderText]="'enter some tags or choose basic tags from above'"></app-select-tags-field>

  <mat-form-field class="width-100" appearance="outline">
    <mat-label>price</mat-label>
    <input matInput placeholder="price" type="text" formControlName="price">
    <mat-icon matSuffix>euro</mat-icon>
  </mat-form-field>

  <!-- star rating field -->
  <span class="label">rating </span><app-star-rating-field [rating]="rating" (ratingUpdated)="onRatingsUpdated($event)"></app-star-rating-field>

  <mat-form-field class="width-100">
    <textarea matInput placeholder="note" formControlName="note"></textarea>
  </mat-form-field>

  <!-- adress group -->
  <div formGroupName="addressGroup">
    adress
    <mat-form-field class="width-100">
      <mat-label>public station</mat-label>
      <input matInput placeholder="public station" type="text" formControlName="publicStation">
    </mat-form-field>
    <mat-form-field class="width-100">
      <mat-label>street</mat-label>
      <input matInput placeholder="street" type="text" formControlName="street">
    </mat-form-field>
  </div>

  <button mat-flat-button color="primary"
          [disabled]="!formGroup.valid"
          (click)="onSubmit()">Create</button>
</form>
