<p>calendar-page works!</p>
<div *ngFor="let h of history | async">
  <p>{{h.historyId}}</p>
  <p>{{h.shortNote}}</p>
  <p>{{h.date}}</p>
  <p>{{h.stuffId}}</p>
  <p>{{h.stuffName}}</p>
  <p>{{h.previewImg}}</p>
</div>


<mat-form-field class="width-50">
  <input matInput [matDatepicker]="dateInput" name="date" [(ngModel)]="newHistory.date">
  <mat-datepicker-toggle matPrefix [for]="dateInput"></mat-datepicker-toggle>
  <mat-datepicker #dateInput></mat-datepicker>
</mat-form-field>
<mat-form-field class="width-50">
  <input matInput
         placeholder="short note (optional)"
         type="text"
         name="shortNote"
         [(ngModel)]="newHistory.shortNote">
</mat-form-field>

<button class="add-button" type="button" mat-mini-fab (click)="onAddHistory()"><mat-icon>add</mat-icon></button>

