.row {
  margin: 8px;
  height: 85px;
}

.date {
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #d9d9d9;
  text-align: center;
  width: 5.5em;
}

.month {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #d9d9d9;
  font-size: 1em;
  color: white;
}

.daynum {
  font-size: 1.3em;
  font-weight: bold;
  font-size: 1.8em;
}

.dayname {
  font-weight: bold;
  font-size: 1em;
  padding: 4px;
}

.info {
  color: white;
  border-radius: 5px;
}

.text {
  padding: 8px;
}

.name {
  font-size: 1.1em;
  font-weight: bold;
}

.short-note {
}

.thumbnail img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

