<mat-form-field class="width-50">
  <input matInput
         [matDatepicker]="dateFromInput"
         name="dateFrom" placeholder="from"
         [(ngModel)]="dateFrom"
         (dateChange)="setFilter()">
  <mat-datepicker-toggle matPrefix [for]="dateFromInput"></mat-datepicker-toggle>
  <mat-datepicker #dateFromInput></mat-datepicker>
</mat-form-field>
<mat-form-field class="width-50">
  <input matInput
         [matDatepicker]="dateToInput"
         name="dateTo"
         placeholder="to"
         [(ngModel)]="dateTo"
         (dateChange)="setFilter()">
  <mat-datepicker-toggle matPrefix [for]="dateToInput"></mat-datepicker-toggle>
  <mat-datepicker #dateToInput></mat-datepicker>
</mat-form-field>

<div *ngFor="let h of filteredHistory">

  <div class="row" fxLayout="row">
    <div class="date" fxFlex="18">
      <p class="month" [ngStyle]="{'backgroundColor': getMonthColor(h.date.toDate() | date: 'M')}">{{h.date.toDate() | date: 'MMM'}}</p>
      <p class="daynum">{{h.date.toDate() | date: 'd'}}</p>
      <p class="dayname">{{h.date.toDate() | date: 'EEEE'}}</p>
    </div>

    <div fxLayout="row"
         fxFlex
         class="info"
         [ngStyle]="{'backgroundColor': getMonthColor(h.date.toDate() | date: 'M')}">
      <div class="text" fxFlex>
        <div class="name">{{h.stuffName}}</div>
        <div class="short-note">{{h.shortNote}}</div>
      </div>
      <div *ngIf="h.previewImg" class="thumbnail" fxFlex="30">
        <app-calendar-thumbnail [imgPath]="h.previewImg"></app-calendar-thumbnail>
      </div>
    </div>
  </div>

</div>
