<!-- preview -->
<div class="preview-container width-100" *ngIf="images && images.length > 0">
  <div class="preview-img-container full">
    <img class="preview-img" [src]="images[currIndex].path">
  </div>
  <div class="preview-action-container">
    <button mat-mini-fab (click)="onRemove()"><mat-icon>clear</mat-icon></button>
  </div>
</div>

<!-- slider -->
<div class="slider-container"
     *ngIf="images && images.length > 0"
     cdkDropList
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="onChangeSorting($event)">
  <div class="slider-thumbnail"
       *ngFor="let image of images"
       (click)="currIndex = images.indexOf(image)"
       cdkDrag
       [cdkDragStartDelay]="175">
    <img [src]="image.path">
  </div>
  <div class="slider-thumbnail" (click)="fileInput.click()">
    <img [src]="addImgIconUrl">
  </div>
</div>

<input type="file" (change)="onSelectFiles($event)" capture hidden multiple #fileInput>

<!-- no image yet -->
<div class="no-image-container" *ngIf="images && images.length === 0" (click)="fileInput.click()">
  <img [src]="addImgIconUrl">
</div>

