progress::-webkit-progress-value {
  transition: width 100ms ease;
}

.photo-container {
  height: 18em;
  width: 100%;
}

.photo-container img {
  object-fit: cover;
}

.add-photo-icon {
  height: 10em;
}
