progress::-webkit-progress-value {
  transition: width 100ms ease;
}

.photo-container {
  height: 18em;
}

.photo-container img {
  width: 100%;
  object-fit: cover;
}

.add-photo-icon {
  height: 10em;
}
