<h2 *ngIf="group | async as g">{{g.name | uppercase}}</h2>
<!-- <pre>{{groupTags | async | json}}</pre>
<pre>{{stuffs | async | json}}</pre> -->
<!-- tags search bar-->
<mat-chip-list>
  <mat-chip *ngFor="let basicTag of basicTags"
            color="accent"
            selected
            (click)="onSelectBasicTag(basicTag)">{{basicTag}}</mat-chip>
</mat-chip-list>
<br>
<mat-form-field class="width-100" >
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of selectedTags$ | async" (removed)="onRemoveTag(tag)">
        {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #tagInput
           matInput
           placeholder="enter some tags or choose basic tags from above"
           [formControl]="tagInputControl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectTag($event)">
    <mat-option *ngFor="let filteredTag of filteredTags$ | async" [value]="filteredTag">
      {{filteredTag}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<!-- stuff list -->
<mat-list>
  <app-stuff-list-element *ngFor="let stuff of stuffs | async" [stuff]="stuff"></app-stuff-list-element>
</mat-list>

<!-- add stuff button -->
<button class="add-button" mat-fab (click)="onAddStuff()"><mat-icon>add</mat-icon></button>
