<mat-chip-list>
  <mat-chip *ngFor="let basicTag of testBasicTags"
            color="accent"
            selected
            (click)="onSelectBasicTag(basicTag)">{{basicTag}}</mat-chip>
</mat-chip-list>
<br>
<mat-form-field class="width-100" >
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of selectedTags$ | async" (removed)="onRemoveTag(tag)">
        {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #tagInput
           matInput
           placeholder="enter some tags or choose basic tags from above"
           [formControl]="tagInputControl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectTag($event)">
    <mat-option *ngFor="let filteredTag of filteredTags$ | async" [value]="filteredTag">
      {{filteredTag}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>




<mat-list>
  <ng-container *ngFor="let stuff of stuffs | async">
    <mat-list-item>
      <span>{{ stuff.name }}</span>
      <span fxFlex></span>
      <mat-icon class="arrow-down-icon" (click)="onClickItem(stuff.id)">keyboard_arrow_down</mat-icon>
    </mat-list-item>
    <div>
      <div *ngIf="stuff.count">
        count: {{stuff.count}}
      </div>
      <div *ngIf="stuff.price">
        price: {{stuff.price}}
      </div>
      <div *ngIf="stuff.note">
        note: {{stuff.note}}
      </div>
      <div *ngIf="stuff.lastUpdated">
        last time: {{stuff.lastUpdated.toDate()}}
      </div>
      <div *ngIf="stuff.tags">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of stuff.tags | keyvalue">{{tag.key}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <br>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

<button class="add-button" mat-fab (click)="onAddStuff()"><mat-icon>add</mat-icon></button>
